{% extends "layout.html" %}

{% block title %}
    Confirm login delete
{% endblock %}

{% block main %}
    <a class="badge badge-light" href="/manage"> < Back</a>
    <form action="/manage" method="post">
        <div class="centalign mx-5 mt-5">
            <button type="submit" name="submit" value="yes" class="btn btn-primary btn-block">Delete login {{ name }} and associated view history?</button>
        </div>
    </form>
    <div class="centalign p-5">
        <table class="table table-sm">
            <caption>List of portfolio views by this login</caption>
            <thead class="thead-light">
                <tr>
                    <th scope="col">Login</th>
                    <th scope="col">Date</th>
                    <th scope="col">Pages viewed</th>
                </tr>
            </thead>
            <tbody>
                {% for item in tlist %}
                    <tr>
                        <th scope="row">{{ item[1] }}</th>
                        <td>{{ item[2].strftime("%a %d %b %Y") }}</td>
                        <td>{{ item[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}