{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    {% if error %}
        <p class="error"> {{ error }} </p>
    {% endif %}
    <p>Index page</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet tempus mauris eu finibus. Nullam vel commodo odio. Aenean consequat euismod purus id faucibus. Mauris consequat erat est. Etiam vitae rutrum leo. Morbi metus diam, laoreet vitae nisl eu, dignissim semper dui. Quisque metus ipsum, auctor eu lectus eget, bibendum efficitur massa. Phasellus nulla nunc, porttitor vel massa eget, porta posuere sapien. Nullam vitae congue felis. Donec hendrerit erat turpis, ut imperdiet justo efficitur sit amet. Duis rhoncus tortor non leo hendrerit imperdiet molestie a erat.

In bibendum felis eget diam porta, et pretium arcu pretium. Nullam semper mauris eget orci accumsan ullamcorper. Proin faucibus sapien sit amet tellus laoreet eleifend. Proin dictum vel nisi quis congue. Suspendisse auctor ultricies neque. Integer a pulvinar orci. Vestibulum non mi quis lectus eleifend lobortis nec non elit.

Mauris et bibendum justo, nec semper tortor. Praesent sed eros id mauris aliquam viverra. Vestibulum vehicula volutpat venenatis. Quisque ullamcorper turpis velit, non elementum est pharetra a. Integer a sapien vulputate enim consectetur feugiat. Nunc ipsum enim, commodo eget auctor eu, volutpat eu ex. Sed non tincidunt arcu, ut porttitor enim. Fusce eleifend lectus bibendum tempor ultrices. Curabitur dapibus massa et tellus aliquet, sit amet vehicula ligula vulputate. Pellentesque in lacus eget tortor aliquet pretium.

Sed enim ligula, mattis vitae pellentesque eget, porta nec sem. Vivamus et lectus vestibulum, feugiat massa ut, euismod arcu. Phasellus id elit lacus. Morbi sed sagittis quam. Praesent in eros at nulla tristique auctor. Quisque iaculis laoreet arcu, et laoreet nunc euismod eget. Etiam id ullamcorper velit, et imperdiet lectus.

Cras eu risus mattis mauris feugiat vestibulum. Etiam nec fringilla nulla. Quisque viverra justo purus, et iaculis nisl iaculis quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque facilisis libero metus, id ornare justo efficitur varius. Vivamus facilisis elit nec luctus molestie. Quisque eu nunc felis. Curabitur nec pellentesque arcu. Morbi turpis arcu, dictum non interdum in, rhoncus elementum metus. Cras pulvinar nisi lacus, eu consequat odio pretium convallis. Aliquam erat volutpat. Nullam dapibus ipsum a facilisis ullamcorper. Vivamus tempor, sem sed placerat ornare, ex ex placerat erat, eget pulvinar nulla tellus eget mauris.</p>
{% endblock %}